/* FONT IMPORT */
@font-face {
  font-family: "Garet";
  src: url('/fonts/Garet-Book.woff2') format('woff2'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Garet";
  src: url('/fonts/Garet-Heavy.woff2') format('woff2'); 
  font-weight: bold;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}